<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pass Authorization header to Laravel
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Send requests that are not existing files/directories to Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Options -Indexes

<FilesMatch "^(\.env|composer\.(json|lock)|artisan)$">
    Require all denied
</FilesMatch>